.navbar-superior {
    border-radius: 5px 5px 0px 0px;
    border-bottom: 0px;
}
.navbar-inferior {
    margin-top: -20px;
    border-radius: 0px 0px 5px 5px;

    border-top: 0px;
}

.search-bar{
    min-width: 500px;
    max-width: 90%;
}

.produto
{
        transition:all 0.3s ease;
}

.produto:hover div div h4{
    color: rgb(184, 169, 5);
}



.produto:hover div div h6{
    color: rgb(184, 169, 5);
}


.produto:hover
{
        transform: scale(1.02);
        opacity: 0.8;
}

.produto-imagem {
    max-height: 320px;
}

.produto-imagem-thumb {
    width: 80%;
}

.googlePlayBadge {
    max-width: 35%;
}

footer {
    position: fixed;
    bottom: 0px;
    background-color: #0c121c;
    width: inherit;
    height: 50px;
    border-radius: 5px 5px 0px 0px;
    color: white;
}
